.main_bar
 .main_bar_groupname
  .main_bar_group_name_member
   .main_bar_group_name 
    = @group.name
   .main_bar_member
    .main_bar_member_text Member :
    .main_bar_menber_name 
     - @group.group_users.each do |group_user|
      = group_user.user.name
  .main_bar_edit 
   = link_to edit_group_path(@group) ,class:"group_edit" do
    Edit
 .main_bar_timeline
  = render @messages
 
 .form
  = form_for [@group, @message] do |f|
   = f.text_field :content, class: 'form__message', placeholder: 'type a message'
   .form__mask
    = f.label :image, class: 'form__mask__image' do
     = icon('fas', 'image', class: 'icon')
     = f.file_field :image, class: 'hidden'
   = f.submit 'Send', class: 'form__submit'